<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ACPI</key>
    <dict>
        <key>Add</key>
        <array/>
        <key>Quirks</key>
        <dict>
            <key>FadtEnableReset</key>
            <true/>
        </dict>
    </dict>
    <key>Booter</key>
    <dict>
        <key>Quirks</key>
        <dict>
            <key>AvoidRuntimeDefrag</key>
            <true/>
            <key>DevirtualiseMmio</key>
            <true/>
            <key>DisableSingleUser</key>
            <false/>
            <key>DisableVariableWrite</key>
            <false/>
            <key>ProtectUefiServices</key>
            <true/>
            <key>RebuildAppleMemoryMap</key>
            <false/>
            <key>SetupVirtualMap</key>
            <true/>
            <key>SyncRuntimePermissions</key>
            <true/>
        </dict>
    </dict>
    <key>DeviceProperties</key>
    <dict>
        <key>Add</key>
        <dict/>
    </dict>
    <key>Kernel</key>
    <dict>
        <key>Add</key>
        <array/>
        <key>Quirks</key>
        <dict>
            <key>CustomSMBIOSGuid</key>
            <true/>
            <key>DisableIoMapper</key>
            <true/>
        </dict>
    </dict>
    <key>Misc</key>
    <dict>
        <key>Boot</key>
        <dict>
            <key>HibernateMode</key>
            <string>None</string>
            <key>PickerMode</key>
            <string>External</string>
            <key>ShowPicker</key>
            <true/>
            <key>Timeout</key>
            <integer>5</integer>
            <key>ConsoleAttributes</key>
            <integer>0</integer>
        </dict>
        <key>Security</key>
        <dict>
            <key>AllowNvramReset</key>
            <true/>
            <key>AllowSetDefault</key>
            <true/>
            <key>ScanPolicy</key>
            <integer>0</integer>
            <key>SecureBootModel</key>
            <string>Disabled</string>
            <key>Vault</key>
            <string>Optional</string>
        </dict>
        <key>Entries</key>
        <array>
            <dict>
                <key>Arguments</key>
                <string></string>
                <key>Auxiliary</key>
                <false/>
                <key>Comment</key>
                <string>ZFSBootMenu</string>
                <key>Enabled</key>
                <true/>
                <key>Name</key>
                <string>ZFSBootMenu</string>
                <key>Path</key>
                <string>PciRoot(0x0)/Pci(0x2,0x0)/Pci(0x0,0x0)/NVMe(0x1,00-00-00-00-00-00-00-00)/HD(1,GPT,00000000-0000-0000-0000-000000000000,0x800,0x100000)/EFI/zfsbootmenu/zfsbootmenu.efi</string>
            </dict>
        </array>
    </dict>
    <key>NVRAM</key>
    <dict>
        <key>Add</key>
        <dict/>
        <key>WriteFlash</key>
        <true/>
    </dict>
    <key>PlatformInfo</key>
    <dict>
        <key>Automatic</key>
        <true/>
        <key>Generic</key>
        <dict/>
        <key>UpdateDataHub</key>
        <true/>
        <key>UpdateNVRAM</key>
        <true/>
        <key>UpdateSMBIOS</key>
        <true/>
    </dict>
    <key>UEFI</key>
    <dict>
        <key>Drivers</key>
        <array>
            <string>OpenRuntime.efi</string>
            <string>NvmExpressDxe.efi</string>
        </array>
        <key>Input</key>
        <dict/>
        <key>Output</key>
        <dict/>
        <key>ProtocolOverrides</key>
        <dict>
            <key>NvmExpressPassThru</key>
            <true/>
        </dict>
        <key>Quirks</key>
        <dict>
            <key>ExitBootServicesDelay</key>
            <integer>5</integer>
            <key>IgnoreInvalidFlexRatio</key>
            <true/>
            <key>ReleaseUsbOwnership</key>
            <true/>
            <key>RequestBootVarRouting</key>
            <true/>
            <key>TscSyncTimeout</key>
            <integer>35000</integer>
            <key>UnblockFsConnect</key>
            <true/>
        </dict>
    </dict>
</dict>
</plist>
